<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 페이지별 제목이 오면 치환됨 -->
    <title layout:fragment="title">레이아웃 기본 설정 제목</title>

    <!-- 헤더 공통 스타일 -->
    <link rel="stylesheet" href="/css/partials/header.css"/>

    <!-- 페이지 전용 스타일 슬롯(필요한 페이지에서만 채움) -->
    <th:block layout:fragment="pageStyles"></th:block>
</head>

<body>
<!-- 헤더가 필요없는 부분을 위해, 헤더를 사용안하는 경우 빈 블록으로 오버라이드 -->
<header layout:fragment="header">
    <div th:replace="partials/header :: siteHeader"></div>
</header>

<!-- 공통 헤더 (원래 공통 헤더였으나 헤더를 사용하지 않는 페이지도 있을 수 있기 때문에 변경) <div th:replace="partials/header :: siteHeader"></div> -->

<!-- 본문 슬롯 -->
<main class="page" layout:fragment="content">
    <!-- 기본 콘텐츠(없음) -->
</main>

<!-- 공통 스크립트 -->
<script defer src="/js/api.js"></script>
<script defer src="/js/partials/header.js"></script>
<script defer src="/js/lib/ui.error.js"></script>

<!-- 페이지 전용 스크립트 슬롯 -->
<th:block layout:fragment="pageScripts"></th:block>
</body>

</html>
